.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color:rgb(14, 14, 14);
}
.main{

  margin-left: 15%;
  
  margin-right: 15%;
  margin-bottom: 5%;
  height: 50vh;
  border-width: 0.1cm;
  /* border-color:rgb(250, 55, 152);
  border-color:rgb(155, 52, 104); */
  /* border-style: dashed; */
  box-sizing: border-box;
  
  justify-content: center;
  align-items: center;
  padding-left: 17%;
  border-radius: 10px;
  color:rgb(249, 85, 167);
  box-shadow: 14px 14px 20px #df38a28c;
  
  background-color:black;
  font-family: 'Playfair Display', serif;
}
nav{
  padding:1%;
  
  text-emphasis-color: white;
  color:rgb(246, 7, 166);
 
  
}
#tasks{
  font-family: 'Josefin Sans', sans-serif;
  color:black;
  
}
#navtext{
  font-family: 'Playfair Display', 
  serif;
  text-shadow: 2px 2px 8px rgb(49, 142, 106);
}
.main{
  
}
